<html ng-app="RijksTab" ng-csp>
 <head>
  <title>New Tab</title>

  <script src="scripts/main.js"></script>
  <link rel="stylesheet" href="styles/main.css">
 </head>
 <body>


  <div class="art-container" ng-controller="TabController">
    <div class="notification" ng-class="notificationClass">
     <div class="notification-inner">
      {{notification}}
      <button ng-click="toggleFavourites()" class="notification-action">View Favourites</button>
     </div>
    </div>
    <div class="art-bg">
      <div class="art-bg-wrapper" ng-style="{'width': {{browserWidth}}, 'height': {{browserHeight}}}">
        <img imageonload ng-src="{{art.dataUrl}}" is-loading="{{loading}}">
        <div class="art-desc">
          <button ng-click="addFavourite()" class="art-favourite">Fav</button>
          <div ng-if="art.links.web"><h2><a href="{{art.links.web}}">{{art.longTitle}}</a></h2></div>
        </div>
      </div>
    </div>

    <div ng-show="loading"><art-loader></art-loader></div>

    <div class="ui-actions-container" ng-class="topSitesClass">
      <div class="ui-actions">
        <button ng-click="newImg()">New Image</button>
        <button ng-click="openApps()">Apps</button>
        <button ng-click="toggleTopSites()">Top Sites</button>
        <button ng-click="toggleFavourites()">View Favourites</button>
      </div>
      <ul class="topsites">
        <a ng-repeat="site in topSites" href="{{site.url}}">
            <span class="favicon-wrapper"><img ng-src="http://g.etfv.co/{{site.url}}?defaulticon=bluepng" width="16" height="16"></span>
            {{site.title}}
        </a>
      </ul>
      <div class="favourites" ng-class="favouritesClass">
        <ul>
          <li ng-repeat="favourite in favourites"><a href="{{favourite.url}}">{{favourite.title}}</a></li>
        </ul>
      </div>
    </div>

    <div class="appslink-container">
    </div>

    <div class="newimg-container">
    </div>

  </div>

 </body>
</html>

