body,
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-transition: background .6s;
}

.art-container {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.art-bg {
  width: 100%;
  height: 100%;
  z-index: -1;
  text-align: center;
}

.art-bg-wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  -webkit-transition: opacity .6s
}

.art-bg-wrapper.loading {
  /*opacity: 0;*/
}



.topsites-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: scroll;
  width: 10em;
}

.topsites-container.hide {
  overflow: hidden;
}

.topsites-container button {
  margin: 8px;
}

.topsites {
  list-style: none;
  -webkit-transition: all .2s;
  margin: 0;
  padding: 0;
}

.topsites-container.show .topsites {
  transform: translateX(0);
}

.topsites-container.hide .topsites {
  transform: translateX(-100%);
}

.topsites a {
  display: block;
  background: rgba(0,0,0,0.4);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  text-decoration: none;
  padding: 8px 16px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.topsites a:hover {
  background: rgba(0,0,0,0.2);
}

.favicon-wrapper {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,0.8);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
}

.favicon-wrapper img {
  position: relative;
  top: 4px;
}

button {
  background: none;
  color: rgba(255,255,255,0.8);
  border: none;
  padding: 8px;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  -webkit-transition: color .6s;
  font-family: inherit;
}

button:focus {
  outline: none;
}

.appslink-container {
  position: absolute;
  right: 8px;
  top: 8px;
}

.art-desc {
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 10;
  text-align: left;
  width: calc(100% -8px);
}

.art-desc h2 {
  font-weight: normal;
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
}

.art-desc h2 a {
  padding: 4px 8px;
  color: rgba(255,255,255,0.8);
  background: rgba(0,0,0,0.4);
  -webkit-transition: color .6s;
  text-decoration: none;
  display: inline-block;
}

.newimg-container {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

